<style>
    .row {
        background-color: #d0d0f0;
    }
    .row:nth-child(2n) {
        background-color: #d0d0e0;
    }
    .cell {
        height: 3rem;
        padding: 0 0.5rem;
    }
    .button{
        height: 2rem;
        padding: 0.5rem;
        box-sizing: border-box;
        color: #000;
        border: 2px solid black;
        border-radius: 0.2rem;
        text-decoration: none;
        background-color: #fff;
        cursor: pointer;
        display: inline;
    }
</style>
<h1>Account</h1>